.custom-button {
  background: none;
  background-color: black;
  min-width: 165px;
  width: auto;
  height: 50px;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #1e72fa;
    color: white;    
    &:hover {
      background-color: #0642a3;
      border: none;
    }
  }

  &.inverted {
    background-color: rgb(202, 40, 0);
    color: black;
    box-shadow: 0px 0px 5px 3px black;
    &:hover {
      background-color: black;
      color: white;
      border: none;
      box-shadow: none;
    }
  }
}